* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 13, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  max-width: 1400px;
  min-height: 300px;
  max-height: 1000px;
}

.container {
  display: flex;
  margin: 0 auto;
  height: 100%;
}

.container_info {
  flex-basis: 110%;
  background-color: rgb(24, 22, 48);
  padding: 50px;
  border-radius: 25px 0 0 25px;
}

span {
  color: rgb(152, 82, 207);
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #fff;
}

.container_info > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.521);
  margin-top: 40px;
  width: 75%;
}

.container_img {
  width: 100%;
  height: 100%;
  background-image: url(./images/image-header-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 25px 25px 0;
}

.overlay {
  background-color: rgba(153, 82, 207, 0.445);
  z-index: 4;
  width: 100%;
  height: 100%;
  border-radius: 0 25px 25px 0;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 40px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.521);
}

.info_title > p:first-of-type {
  color: #fff;
  font-size: 22px;
}

/* Media Queries 
-------------------------------------------------------- */

@media (max-width: 1200px) {
  main {
    max-width: 900px;
    max-height: 450px;
  }

  h1 {
    font-size: 30px;
  }

  .container_info > p {
    font-size: 16px;
    width: 100%;
  }

  .info {
    font-size: 14px;
  }

  .info_title > p:first-of-type {
    font-size: 14px;
  }
}

@media (max-width: 967px) {
  main {
    max-width: 700px;
    max-height: 350px;
  }

  h1 {
    font-size: 26px;
  }

  .container_info > p {
    font-size: 14px;
    width: 100%;
  }

  .info {
    font-size: 12px;
  }

  .info_title > p:first-of-type {
    font-size: 12px;
  }
}

@media (max-width: 720px) {
  main {
    max-width: 400px;
    max-height: 70vh;
    text-align: center;
  }

  .container {
    flex-direction: column;
  }

  .container_info {
    order: 2;
    border-radius: 0 0 25px 25px;
    padding-bottom: 0;
  }

  h1 {
    font-size: 28px;
    line-height: 1.2;
  }

  .container_info > p {
    font-size: 16px;
    line-height: 1.7;
  }

  .container_img {
    height: 600px;
    order: 1;
    border-radius: 25px 25px 0 0;
  }

  .overlay {
    border-radius: 25px 25px 0 0;
  }

  .info {
    flex-direction: column;
    font-size: 14px;
  }

  .info_title > p:first-of-type {
    font-size: 26px;
  }

  .info_title {
    margin-bottom: 30px;
    line-height: 1.5;
  }
}
